@font-face {
    font-family: 'MyriadPro';
    src: url(../font/MYRIADPRO-REGULAR.OTF);
}
body {
    font-family: 'MyriadPro', sans-serif;
}

.bg-blue {
    background-color: #09406f;
}

.bg-white {
    background-color: #fff;
}

#infoacceuil {
    display: flex;
    justify-content: space-around;
}

#accueil {
    background-image: url(../img/BackgroundAccueil.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
}

#bulleacceuil {
    padding-left: 1rem;
    max-width: 35%;
    border-radius: 5%;
}